<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>Sistema</title>
</head>
<body> 
    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <div class="container">
        <br>
        <h4>Pesquisar</h4>
        <hr> 
        <br>
            <form method="post" action="/pesquisar" th:object="${pessoas}">
                <div class="input-group col-6 offset-3">
                    <input type="text" class="form-control"  th:field="*{nome}" 
                    placeholder="Busque pelo nome">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
                    </div>
                </div>

            </form>
        <br>
        <hr>
        <div class="row">
            <div class="card" style="width: 288px" >
                <a th:href="@{ativos}"><img alt="" class="card-img-top" src="" ></a> 
                <div class="card-body">
                    <div class="card-title">Ativos no Sistema</div>
                    <p>Busca por todos os ativos no sistema</p>
                    <a class="btn btn-outline-primary" th:href="@{ativos}">Clique Aqui!</a>
                </div>
            </div>
            <div class="card ml-3" style="width: 288px" th:href="@{inativos}" >
                <a th:href="@{inativos}"><img alt="" class="card-img-top" src="" ></a> 
                <div class="card-body">
                    <div class="card-title">Inativos no Sistema</div>
                    <p>Busca por todos os inativos no sistema</p>
                    <a class="btn btn-outline-primary" th:href="@{inativos}">Clique Aqui!</a>
                </div>
            </div>
        </div>
    </div>
    


    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>