*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 
nav{
    color: #fff;
    background-color:#4527A0; 
    text-transform: uppercase;

} 
a.btn-nav:hover {
    color:#BA68C8 !important;
}
a.btn-nav2:hover {
    color:red !important;
}
a {
    cursor:pointer; 
    font-weight: bold;
    text-decoration: none;
} 

.neo-section{
    min-height: 88vh;
    background-size: cover !important;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative; 
} 
.texto-main {
    padding: 2% 2%;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    margin-top: 100px ;
    /* min-height: 50vh; */
}
.texto-titulo {
    color: #fff;
    font-weight: bold;
}
.sombra {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
.neo-section > .texto-main {
    position: relative; 
    z-index: 105;
}
.wm {
    width: 50%;
    float: left;
} 
.botoes {
    padding: 2% 15%;
}

.btnX {
    color: #fff;
    border-radius: 10px;
    border: 3px solid #a55eea;
    padding: 15px;
    font-weight: bold;

}
.btnX:hover {
    color: #CE93D8;
    background-color: rgba(0,0,0,0.5) ;
}
.clear {
    clear: both;
} 
.rodape {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    background-color: #4527A0;
} 

@media screen and (max-width:667px) {
    .wm {
        width: 100%;
    } 
    .texto-main {
        margin-top: 60px ;

    }
}